<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">
<head th:replace="~{fragments/head :: head}">

</head>
<body>
<div class="container">
    <div th:replace="~{fragments/menu :: menu}"></div>
    <h1>Welcome to Book Store.</h1>
    <a class="btn btn-primary mb-3" href="/book/add">Add Book</a>

    <h1>Book Pie Chart</h1>
    <canvas id="bookChart"></canvas>
</div>

<script th:inline="javascript">
    var rawJson = /*[[${booksChart}]]*/ '[]';  // Raw JSON as a string
    var decodedJson = decodeURIComponent(rawJson.replace(/\+/g, ' '));
    var books = JSON.parse(decodedJson);

    console.log("Books:", books);

      // Check if it's an array before proceeding
      if (Array.isArray(books)) {
          // Extracting titles and prices from the books array
          var bookTitles = books.map(function(book) { return book.title; });
          var bookPrices = books.map(function(book) { return book.price; });

          // Create a bar chart using Chart.js
          var ctx = document.getElementById('bookChart').getContext('2d');
          var bookChart = new Chart(ctx, {
              type: 'bar',
              data: {
                  labels: bookTitles,
                  datasets: [{
                      label: 'Book Prices',
                      data: bookPrices,
                      backgroundColor: 'rgba(54, 162, 235, 0.2)',
                      borderColor: 'rgba(54, 162, 235, 1)',
                      borderWidth: 1
                  }]
              },
              options: {
                responsive: true,
                //maintainAspectRatio: false,
                  scales: {
                      y: {
                          beginAtZero: true
                      }
                  }
              }
          });
      } else {
          console.error("booksChart is not an array!");
      }
</script>
</body>
</html>
